<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>전시회</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-waso-strategy.css' %}" rel="stylesheet">

        <link href="{% static 'css/soyeon.css' %}" rel="stylesheet">

<!--

Tooplate 2130 Waso Strategy

https://www.tooplate.com/view/2130-waso-strategy

Free Bootstrap 5 HTML Template

-->

    </head>
    
    <body class="projects-detail-page" id="section_1">
        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">
                <!-- 사이드바 제거함 -->

                <a href="http://127.0.0.1:8000/" class="navbar-brand">ArtPark</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <main>
            <!-- 사진 부분 -->
            <section class="projects section-padding">
                <div class="container">
                    <button style="background-color:white; border: none; width: 50px; float: left; margin-left: 150px; margin-top: 150px;" onclick="location.href='http://127.0.0.1:8000/exhibition3/4page';">
                        <img src="{%static 'images/next2.png' %}" alt="" style="width: 100%;">
                    </button>
                    <button style="background-color:white; border: none; width: 50px; float: right; margin-right: 150px; margin-top: 150px;"  onclick="location.href='http://127.0.0.1:8000';">
                        <img src="{%static 'images/next1.png' %}" alt="" style="width: 100%;">
                    </button>
                    <div style="display: flex; justify-content: center;"> 
                        <div class="col-lg-6 col-12 mb-5">

                            <h2 class="mt-3 mb-1">전시 내용</h2> <br>

                            <p> 
                                대구신세계갤러리는 홍원표의 개인전 <바라바빠처럼 유쾌하게!>를 개최합니다. 홍원표 작가는 단국대학교와 홍익대학교 대학원에서 동양화과를 졸업하고, 간결한 선과 원색의 이미지들이 특징인 자유로운 드로잉 스타일의 작업으로 순수미술과 상업미술을 넘나들며 큰 사랑을 받고 있습니다.</p>
                                
                            <p> 이번 전시는 작가의 신작 30여 점과 함께 관람객 참여형 전시를 선보입니다. ‘바람’ 그리고 '바라보다'라는 중의적 의미를 지닌 작가의 대표적인 캐릭터 ‘바라바빠’는 서로를 바라보며, 예술을 매개로 소통하길 원하는 소망을 담고 있습니다. 
                                더불어, 참여자와 예술가의 협업으로 완성되는 ‘드로잉 공간’은 관람객과 예술 작품 간의 능동적인 체험과 소통을 이끌어내어 유희적 에너지를 전달합니다. 작가는 놀이 행위에서 발현되는 에너지들이, 창조적이고 자유로운 삶을 가능하게 한다고 믿습니다. 
                                그리고 이는 ‘유희’가 단순히 노는 것이 아닌, 정신적인 창조활동을 만들어낸다는 요한 하위징아의 ‘호모 루덴스(=놀이하는 인간)’와 맞닿아 있습니다.</p>
                                
                            <p> 작가의 손끝에서 시작되어 관람객의 자발적 참여 행위로 완성되는 ‘드로잉 공간’은 즐거움으로 시작되어 즐거움으로 마무리됩니다. 유쾌하고 즐거운 에너지를 전하는 이번 전시에서 보고 듣는 것 이상의 특별한 경험을 갖는 시간이 되시길 바랍니다. </p>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="site-footer-wrap d-flex align-items-center">
                            <p class="copyright-text mb-0 me-4">Copyright © 2036 Waso Strategy Co., Ltd.</p>

                            <ul class="social-icon">
                                <li><a href="https://facebook.com/tooplate" class="social-icon-link bi-facebook"></a></li>

                                <li><a href="https://pinterest.com/tooplate" class="social-icon-link bi-pinterest"></a></li>
    
                                <li><a href="https://twitter.com/minthu" class="social-icon-link bi-twitter"></a></li>
    
                                <li><a href="https://www.youtube.com/tooplate" class="social-icon-link bi-youtube"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-12">
                    	<p class="copyright-text mb-0 me-4">Waso HTML Template is designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
                    </div>
                    
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    function pointSave() {
        $.ajax({
            type: 'POST',
            url: 'like/1/',  // 좋아요 처리하는 뷰의 URL로 수정
            success: function (response) {
                // 페이지를 새로고침
                location.reload();
                alert('완료');
            },
            error: function (error) {
                console.log('에러:', error);
            }
        });
    }
</script>

    </body>
</html>

